*{
    padding:0px;
    margin:0px;
}
.main{
    background-image: url("var2.jpg");
    background-size: max(1000px,100vw);
    height: 80vh;
    position: relative;
    background-repeat: no repeat;
}
header{
    position: relative;
    background: linear-gradient(to right,#564b01,#300c01);
    padding: 0 2rem;

}
.nab{
    background: linear-gradient(to right,#564b01,#300c01);
    position: sticky;
    width: 100%;
    top: 0px;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 60px;
}
div .a1{
    display: flex;
    flex-direction: column;
    transform: translateY(55px);
}
.hh2{
    font-size: 20px;
    opacity: 0;
    transition: 0.25s;
}
.hh1{
    margin-bottom: 7px;
    transform: translateX(17px);
    transition: 0.25s;
}
.nab .links{
    display: flex;
    color: #fff;
    font-size: 20px;
    gap:2rem;

}
.logo img{
    position: absolute;
    left: 185px;
    transform: translateY(-44px);
}
.a1:hover .hh1{
    transform: translateY(40px);
}
.a1:hover .hh2{
    transform: translateY(-37px);
    opacity: 1;
}
.nab .logo a{
    position: relative;
    bottom: 9px;
    padding-bottom: 7px;
    padding-left: 15px;
    font-size: 1.75rem;
    font-weight: bold;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}
li{
    list-style: none;
}
.links a{
    line-height: 5px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}
.links a span{
    justify-content: center;
    align-items: center;

}
.logo1{
    text-align: center;
    font-size: 25px;
    font-weight:bold;
    transition: 0.5s;
    transform: translateY(5px);
}
.links a:hover .logo1{
    transform: translateY(-18px);
}
.links a:hover .text{
    opacity: 1;
    transform: translateY(0px);
}
.text{
    text-align: center;
    margin-left: -4px;
    transform: translateY(25px);
    transition: 0.2s;
    opacity: 0;
    font-size: 18px;
}
.logo a:hover{
    color: orange;
}
.links a:hover{
    color: orange;
}
.nab .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:active{
    scale:0.95
}
.action_btn:hover{
    scale: 1.05;
    color: rgb(236, 235, 234);
}
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top:60px;
    height: 0px;
    width:300px;
    background:rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.open{
    height:142px;

}
.dropdown_menu a{
    text-decoration: none;
    color: #fff;
}
.dropdown_menu li{
    padding: 0.22rem;
    display: flex;
    align-items: center;
    justify-content: center;  
    text-decoration: none;
}
.dropdown_menu .action_btn{
    width: 80%;
    display: flex;
    justify-content: center;
}
@media(max-width:900px){
    .nab .links,
    .nab .action_btn{
        display: none;
    }
    .nab .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
    .main{
        height: 80vh;
    }

}
@media(max-width: 560px){
    .dropdown_menu{
        left: 10rem;
        width: unset;
    }
    .main{
        height: 85vh;
    }
}
@media(max-width:400px){
    .main{
        height:100vh;
    }
}
section#hero{
    padding-top: 9rem;
    height: calc(100vh-60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
#hero h1{
    font-family: bad;
    font-size: 3rem;
    margin-bottom: 1rem;
}
#hero p{
    font-family: 'Kalam', cursive;
    padding-left: 1rem;
    padding-right: 2rem;
    font-size: 1rem;
}
.h span{
    font-family: 'Bad Script', cursive;
    text-decoration: underline;
    text-decoration-color: rgb(235, 233, 227);
}
.h span{
   display: table-cell;
   margin: 0px;
   padding: 0px;
   animation: animate 3s linear infinite; 
}
h1 span:nth-child(1){
    animation-delay: 0s ;
}
h1 span:nth-child(2){
    animation-delay: 0.25s ;
}
h1 span:nth-child(3){
    animation-delay: 0.5s ;
}
h1 span:nth-child(4){
    animation-delay: 1s ;
}
h1 span:nth-child(5){
    animation-delay: 1.25s ;
}
h1 span:nth-child(6){
    animation-delay: 1.5s;
}
h1 span:nth-child(7){
    animation-delay: 1.75s ;
}
h1 span:nth-child(8){
    animation-delay: 2s ;
}
h1 span:nth-child(9){
    animation-delay: 2.25s ;
}
@keyframes animate{
    0%,100%{
        color: #8e6a09;
        filter: blur(2px);
        text-shadow:0 0 10px #f2ebbb,
                    0 0 20px #f2ebbb,
                    0 0 40px #f2ebbb,
                    0 0 80px #f2ebbb,
                    0 0 12px #f2ebbb,
                    0 0 20px #f2ebbb,
                    0 0 30px #f2ebbb,
                    0 0 40px #f2ebbb;
    }
    5%,95%{
        color: #f3f18c;
        filter: blur(0px);
        text-shadow: none;
    }
}
.sepration{
    height:2px;
    background-color: rgb(62, 61, 61);
}
.firstO img{
    height: 18vh;
    width: 35vw;
}
.firstE img{
    height: 18vh;
    width: 35vw;
}
.firstO{
    display: flex;
    max-width: 100%;
    justify-content:space-between;
    align-items: center;
    margin: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.firstE{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media(min-width:800px){
    #hero p{
        font-size: 1.2rem;
    }
    .firstO{
        padding-left: 35vw;
        display: flex;
        max-width: 50vw;
        margin: auto;
    }
    .firstE{
        padding-right: 35vw;
        display: flex;
        max-width: 50vw;
        margin: auto;
    }
    .firstO img{
        height: 30vh;
        width: 20vw; 
    }
    .firstE img{
        height: 30vh;
        width: 20vw; 
    }
    .b1{
    display: flex;
    transition: all 0.8s ease-out;
    justify-content:space-between;
    background-color: rgb(69, 68, 68);
    padding:8px;
    max-width: 40vw;
    margin:8px auto;
    cursor: pointer;
}
}
a:hover{
    color: rgb(248, 233, 100);
}
.info{
    background-color: black;
    color: aliceblue;
}
.info{
    padding-bottom: 2rem;
}
.info h1{
    text-align: center;
    padding: 24px;
    font-size: 48px;
}
.b1{
    display: flex;
    transition: all 0.8s ease-out;
    justify-content:space-between;
    background-color: rgb(69, 68, 68);
    padding:8px;
    max-width: 75vw;
    margin:8px auto;
    cursor: pointer;
}
.b1:hover{
    background-color: rgb(187, 186, 186);
}
.b1 svg{
    filter: invert(1);
}
footer{
    width: 100%;
    position:relative;
    bottom:0;
    background: linear-gradient(to right,#564b01,#300c01);
    color: whitesmoke;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col h2{
    width:fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0px;
}
ul li a{
    list-style: none;
    color: #ccc;
    text-decoration: none;
}
li a:hover{
    color:blue;
}
hr{
    width:90%;
    border:0;
    border-bottom:1px solid #ccc;
    margin:20px auto;
}
.cp{
    text-align: center;
}    
.underline{
    width: 50%;
    height:3px;
    background:#767676;
    border-radius: 3px;
    position: relative;
    top: 7px;
    left:0;
    overflow: hidden;
}
.underline span{
    width:15px;
    height:100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10ppx;
    animation: moving 1.5s linear infinite;
}
@keyframes moving{
    0%{
        left: -20%;
    }
    100%{
        left: 100%;
    }
}

.logo{
    position: relative;
    left: -15px;
}
